# GHC and Stack
.stack-work/
.hie/
.vscode/
*.cabal
*~

#IntelliJ IDEA
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
cover/

# Translations
*.mo
*.pot
